@import "../charapters";
@import "../mixins";

.footer {
  display: block;
  position: relative;
  z-index: $footer-z-background;
  padding-top: $imposition-size;
  padding-bottom: 4rem;
  width: 100%;
  background-color: $footer-color-background;

  .footer__colontitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 120rem;
    margin: auto;
    padding: 0 2rem;

    .footer__copyright-mark {
      font-size: 1.2rem;
      font-weight: 400;
      color: $app-color-paragraph;
    }

    .footer__logo {
      max-width: 6rem;
    }

    @include bp-loader('md') {
      margin: 2rem auto;
    }
  }
}