@import "../charapters";
@import "../mixins";
.infobar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 8rem;
  margin: auto;
  max-width: 90rem;

  .section--row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .infobar__section {
    margin: 2rem 0;
    width: min-content;
    height: fit-content;
  }

  .infobar__link {
    display: block;
    margin: 1rem 0;
    color: $app-color-paragraph-alt;
    width: max-content;
    height: max-content;

    @include font-weight-form;
    @include text-size-lvl3;
  }
  .infobar__title {
    display: block;
    color: $app-color-header;
    font-weight: $font-weight-footer;
    flex-basis: 100%;
    height: fit-content;
    width: max-content;

    @include text-size-lbl2;
  }

  @include bp-loader('md') {
    margin: 2rem;
    justify-content: flex-start;
  }

}