@import "../charapters";
@import "../mixins";
.header__nav {
  margin-top: $vertical-transparency;

  .nav__content {
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header__logo {z-index: $header-z-foreground; max-width: 7.8rem;}

    .menu__navigator {margin: auto 2rem;}

    .menu-section-clickup .menu__navigator {
        @include text-size-lvl3;
        @include style-whited;
    }
    .menu-section-auth .menu__navigator {
        @include text-size-lvl4;
        @include style-outlined;
    }
    @include bp-loader('md') {
      .header__logo {
        width: 7.8rem;
      }
      z-index: $header-z-background;
      background-color: $app-color-background;
      padding: 1rem;
      position: fixed;
      display: flex;
      width: 100%;
      top: 0;
      left: 0;
      text-align: center;
      .menu-section-clickup, .menu-section-auth {
        position: fixed;
        display: none;
        align-items: center;
        flex-wrap: wrap;
        left: 0;
        width: 100%;

        .menu__navigator {margin: 2rem;}
      }
      .menu-section-auth {
        z-index: $header-z-foreground;
        justify-content: center;
        margin-top: 100rem;
        transition: width 1s ease-in-out;
        .menu__navigator, .register-link {@include text-size-lvl4;}
        .menu__navigator {padding: 1.5rem 6.5rem;}
        .register-link {padding: 1.5rem 5rem;}
      }
      .menu-section-clickup, {
        z-index: $header-z-background;
        background-color: $app-color-background;
        flex-direction: column;
        padding-top: 15rem;
        top: 0;
        height: 100%;

        .menu__navigator {@include text-size-lbl1;}
      }
    }
  }
}