@import "../charapters";
@import "../mixins";
.price__banner {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin: $vertical-transparency 0;
  .price__card {
    width: 34rem;
    padding: 4rem 0;
    margin: 2rem 2rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: $transition-time-hover;
    background-color: $card-color-background;
    color: $app-color-paragraph-alt;

    .price__title {@include text-size-lbl2;}

    .register-link {
      padding: 1rem 4rem;

      @include style-outlined-alt;
    }
    &:hover {
      margin: 0 2rem;
      padding: 6rem 0;
      background-color: $app-color-primary;

      &, .price__paymount, .price__description .text--accent {color: $app-color-background;}

      .register-link {
        background-color: $app-color-background;
        border: 0.3rem solid $app-color-primary;
      }
    }
    .price__paymount {
      color: $app-color-header;
      .price__cost {
        display: contents; align-items: baseline; justify-content: center;

        @include font-family-primary;

        .price__interval {
          @include font-weight-form;
          @include text-size-lbl2;
        }
      }
    }
    .price__description, .price__title {
      @include text-size-lbl2;
      @include font-weight-form;
    }
  }
  @include bp-loader('sm') {
    .price__paymount .price__cost {
      font-size: 4rem;
    }
  }
}