@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Playfair+Display:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Playfair+Display:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
.contact__wrapper {
  margin-bottom: -20rem;
}

.contact__banner {
  margin: auto;
  padding: 4rem 2rem;
  max-width: 90rem;
  width: 100%;
  background-color: #2F2E41;
  color: #FFFFFF;
}
.contact__banner .contact__title {
  margin: 4rem auto;
  text-align: center;
}
.contact__banner .contact__form {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
}
.contact__banner .contact__form .contact__profile__block {
  display: flex;
  flex-direction: column;
}
.contact__banner .contact__form .contact__profile__block .form__field .field {
  height: 5.8rem;
}
.contact__banner .contact__form .contact__message__block .form__field .field {
  height: 16.6rem;
}
.contact__banner .contact__form .contact__profile__block, .contact__banner .contact__form .contact__message__block {
  flex-grow: 1;
  padding: 0 2rem;
}
.contact__banner .form__submit {
  display: flex;
  margin: auto;
  padding: 2rem 4rem;
  color: #FFFFFF;
  border-radius: 0.3rem;
  background-color: #6C63FF;
  padding: 1.5rem 2rem;
  transition: 0.1s all ease-in-out;
}
@media screen and (max-width: 828px) {
  .contact__banner .contact__title {
    font-size: 3.4rem;
  }
}