@use "sass:math";
@import "charapters";
@import "store/navbar";
@import "store/banners";
@import "store/sponsors";
@import "store/price-banner";
@import "store/contact-banner";
@import "store/footer";
@import "store/infobar";

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: $font-size-default;
}

body {
  z-index: $body-z-background;
  margin: 0;
  background-color: $app-color-background;
}

header {
  display: block;
  margin: 0 auto;
  max-width: 120rem;
}

main {
  display: block;
  margin: 2rem auto;
  max-width: 120rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-secondary;
}

h1 {
  font-size: 8.6rem;
  font-weight: $font-weight-header;
}

h2{
  font-size: 6rem;
  font-weight: $font-weight-header;

}

h3 {
  font-size: 5rem;
  font-weight: $font-weight-header;
}

h4 {
  font-size: 4rem;
  font-weight: $font-weight-header;
}

h5 {
  font-size: 3.4rem;
  font-weight: $font-weight-header;
}

h6 {
  font-size: 2.8rem;
  font-weight: $font-weight-header;
}

p, label {
  font-size: 2rem;
  font-weight: 400;
  font-family: $font-family-primary;
  font-style: normal;
}

li, td {
  font-weight: 400;
  font-size: 1.6rem;
  font-family: $font-family-primary;
}

input,
select,
button,
textarea {
  font-family: $font-family-primary;
  resize: none;

  @include text-size-lvl3();
}

input, textarea {
  font-weight: $font-weight-form;
  outline: none;
}

button {
  font-weight: 700;
  cursor: pointer;
}

a {
  font-family: $font-family-primary;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;

  @include text-size-lbl2();
}

ul {
  list-style-type: none;
  padding: 0;
}

img {
    display: block;
    width: 100%;
}

.register-link {
  @include text-size-lvl4();
  @include style-primary();
}

.clickbate-link {
  font-weight: 600;

  @include link();
  @include text-size-lbl2();
}

.text--accent {color: $app-color-header;}


.icon {
  max-width: 3.2rem;
}

.hamburger-icon {
  display: none;
  cursor: pointer;

  &, &::before, &::after {
    position: relative;
    z-index: $header-z-foreground;
    content: '';
    width: 2.5rem;
    height: 0.3rem;
    border-radius: 1rem;
    background-color: $app-color-primary;
    transform-origin: 0;
    transition: 0.3s all ease-in-out;
  }

  &::before {display: inherit; top: -0.7rem;}
  &::after{display: inherit; top: 0.4rem;}

  @include bp-loader('md') {display: block;}
}

#hamburger-checker {
  display: none;

  &:checked + .hamburger-icon {
    background-color: $app-color-background;

    &::before {
      top: -1.2rem;
      width: 2.5rem*math.sqrt(1.4);
      transform: rotateZ(45deg);
    }

    &::after {
      top: 0.6rem;
      width: 2.5rem*math.sqrt(1.4);
      transform: rotateZ(-45deg);
    }

  }

  &:checked ~ .menu-section-clickup, &:checked ~ .menu-section-auth {display: flex;}

}

.form__field {
  display: flex;
  flex-direction: column;
  max-width: 35.6rem;
  margin: 0.5rem auto;
  width: 100%;

  .field {
    margin-top: 2.5rem;
    text-align: left;
    width:100%;
    padding: 1rem 1.5rem;
    transition: 0.3s all ease-in-out;
    color: $app-color-paragraph-alt;

    @include text-size-lbl2();

    &::placeholder {color: transparent;}

    &:focus, &:not(:placeholder-shown) {
      border: 0.3rem solid $app-color-primary;

      & + .field__label {display: block; margin-top: 0;}

    }

    &:invalid {
      border: 0.3rem solid $app-color-warning;

      & + .field__label {color: $app-color-warning;}

      & ~ .field__info .field__error { color: $app-color-warning; }

      & ~ .field__counter {color: $app-color-warning;}

    }

  }

  .field__label{
    display: block;
    position: absolute;
    margin-top: 4rem;
    margin-left: 1.5rem;
    color: $app-color-primary-alt;
    transition: 0.3s all ease-in-out;

    @include text-size-lbl2();
  }

  .field__info {

    .field__error {
      display: block;
      margin: 0;
      color: transparent;

      @include text-size-lvl3();
    }

    .field__counter {
      position: relative;
      float: right;
      margin-top: -3rem;
      margin-right: 1.5rem;
      color: $app-color-paragraph;
      opacity: 0.6;
      @include text-size-lvl3();
    }

  }

}