include mixins
section#feature
    +banner({
        title: 'Detailed Examination',
        description: "A daily dataset to keep you up to date on subscription market trends and what's happening in your vertical.",
        imageLink: "/assets/images/feature-banner1.png",
        isReverse: true
    })
    +banner({
        title: 'Creative Solutions',
        description: "Creativity is our second name. We're full of inventive ideas and we're happy to present them to you.",
        imageLink: "/assets/images/feature-banner2.png"
    })
