include mixins
footer.footer(id="footer")
    include infobar
    div.footer__colontitle
        img.footer__logo(src="/assets/images/app-logo.png")
        p.footer__copyright-mark © Fusely 2021. All rights reserved.
