include mixins
section#hero
    +banner({
        title: 'Let`s get fusely together',
        description: 'Outcome-centered product that reduce churn, optimize pricing, and grow your subscription business end-to-end.',
        imageLink: "/assets/images/hero-banner.png",
        isMain: true
    })
