doctype html

html(lang='en-US')
  head
    link(rel='stylesheet' href='/assets/styles/main.css')
    title DL Landing
    meta(name='viewport', content='width=device-width')
  body
    header
      include  navbar
      include hero-banner
    main
      include sponsors
      include feature-banners
      include price-banner
      include contact-banner
    footer.footer
      include infobar
      div.footer__colontitle
        img.footer__logo(src="/assets/images/app-logo.png")
        p.footer__copyright-mark © Fusely 2021. All rights reserved.
    script(src="/assets/scripts/script.js")
