include mixins
section.infobar#infobar-banner
    div.infobar__section
        p.infobar__title Product
        a.infobar__link(href="#") How it works
        a.infobar__link(href="#") Features
        a.infobar__link(href="#") Pricing
        a.infobar__link(href="#") FAQ
        a.infobar__link(href="#") Download
    div.infobar__section
        p.infobar__title Company
        a.infobar__link(href="#") About
        a.infobar__link(href="#") Blog
        a.infobar__link(href="#") Partnership
        a.infobar__link(href="#") Terms of use
        a.infobar__link(href="#") Privacy policy
    div.infobar__section
        p.infobar__title Support
        a.infobar__link(href="#") Help center
        a.infobar__link(href="#") Contact us
    div.infobar__section.section--row
        p.infobar__title Get in touch
        a.infobar__link(href="#"): img(src= "/assets/images/facebook-icon.png" alt= "facebook-icon").icon
        a.infobar__link(href="#"): img(src= "/assets/images/twitter-icon.png" alt= "twitter-icon").icon
        a.infobar__link(href="#"): img(src= "/assets/images/linkedin-icon.png" alt= "linkedin-icon").icon