@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Playfair+Display:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Playfair+Display:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
.banner-reverse {
  flex-direction: row-reverse;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 4rem;
  gap: 4rem;
}
.banner .banner__info {
  margin: auto;
  flex-basis: 30%;
  order: 1;
  flex-grow: 1;
}
.banner .banner__info .banner__title {
  color: #2F2E41;
  line-height: 8.8rem;
}
.banner .banner__info .banner__description {
  color: #9893A3;
  margin: 4rem auto;
}
.banner .banner__logo {
  margin: 4rem 0;
  flex-grow: 1;
  order: 2;
}
@media screen and (max-width: 450px) {
  .banner {
    margin: 6rem 2rem;
  }
  .banner .banner__info .banner__description {
    margin: 4rem auto;
  }
}

#hero .banner {
  margin: auto 4rem;
}
#hero .banner .banner__info .banner__title {
  line-height: 8.8rem;
}
@media screen and (max-width: 828px) {
  #hero .banner {
    margin: 6rem 2rem 2rem;
  }
}
@media screen and (max-width: 450px) {
  #hero .banner .banner__info .banner__title {
    line-height: 5rem;
    font-size: 4.6rem;
  }
}

#feature .banner .banner__info .banner__title {
  line-height: 6.4rem;
}
@media screen and (max-width: 828px) {
  #feature .banner {
    margin: 2rem;
  }
}
@media screen and (max-width: 450px) {
  #feature .banner .banner__info .banner__title {
    line-height: 4rem;
    font-size: 3.4rem;
  }
}