@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Playfair+Display:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Playfair+Display:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
.header__nav {
  margin-top: 4rem;
}
.header__nav .nav__content {
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav .nav__content .header__logo {
  z-index: 51;
  max-width: 7.8rem;
}
.header__nav .nav__content .menu__navigator {
  margin: auto 2rem;
}
.header__nav .nav__content .menu-section-clickup .menu__navigator {
  font-size: 1.6rem;
  color: #717082;
  background-color: white;
}
.header__nav .nav__content .menu-section-clickup .menu__navigator:hover {
  color: #2F2E41;
  border-bottom: 0.2rem solid #6C63FF;
}
.header__nav .nav__content .menu-section-auth .menu__navigator {
  font-size: 1.4rem;
  color: #6C63FF;
  border: 0.1rem solid #6C63FF;
  border-radius: 0.3rem;
  padding: 1.5rem 3rem;
  background-color: #FFFFFF;
  transition: 0.1s all ease-in-out;
}
.header__nav .nav__content .menu-section-auth .menu__navigator:hover {
  background-color: #6C63FF;
  color: #FFFFFF;
}
@media screen and (max-width: 828px) {
  .header__nav .nav__content {
    z-index: 50;
    background-color: #FFFFFF;
    padding: 1rem;
    position: fixed;
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
  }
  .header__nav .nav__content .header__logo {
    width: 7.8rem;
  }
  .header__nav .nav__content .menu-section-clickup, .header__nav .nav__content .menu-section-auth {
    position: fixed;
    display: none;
    align-items: center;
    flex-wrap: wrap;
    left: 0;
    width: 100%;
  }
  .header__nav .nav__content .menu-section-clickup .menu__navigator, .header__nav .nav__content .menu-section-auth .menu__navigator {
    margin: 2rem;
  }
  .header__nav .nav__content .menu-section-auth {
    z-index: 51;
    justify-content: center;
    margin-top: 100rem;
    transition: width 1s ease-in-out;
  }
  .header__nav .nav__content .menu-section-auth .menu__navigator, .header__nav .nav__content .menu-section-auth .register-link {
    font-size: 1.4rem;
  }
  .header__nav .nav__content .menu-section-auth .menu__navigator {
    padding: 1.5rem 6.5rem;
  }
  .header__nav .nav__content .menu-section-auth .register-link {
    padding: 1.5rem 5rem;
  }
  .header__nav .nav__content .menu-section-clickup {
    z-index: 50;
    background-color: #FFFFFF;
    flex-direction: column;
    padding-top: 15rem;
    top: 0;
    height: 100%;
  }
  .header__nav .nav__content .menu-section-clickup .menu__navigator {
    font-size: 2rem;
  }
}